<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- <meta charset="UTF-8"> -->
        <title>Webservice SQL</title>
        <script>
		function updateFormAction() {
		    // Obtendo a variável de uma entrada de texto, por exemplo
		    var variable = document.getElementById('variableInput').value;

		    // Definindo a variável como parte do atributo action do formulário
		    var form = document.getElementById('myForm');
		    form.action = '/disciplina/' + variable;

		    // Para debug: mostrando a nova action no console
		    console.log('Form action atualizado para: ' + form.action);
		}
    	</script>
    </head>
    <body>
        <h1>Pesquisas SQL:</h1>
        <div>
            <form action="/disciplinas" method="GET">
                <button type="submit" name="pull">Listar Disciplinas</button>
            </form><br>
            
            
            
            <form method="GET" action="/disciplina/" name="myForm" id="myForm">
                <label>Insira o Código da Disciplina:</label>
                <input type="text" placeholder="Ex: CAC3100" name="cdg" pattern="[A-Z]{3}[0-9]{4}" id="variableInput" required>
                <button type="submit" onclick="updateFormAction()">Pesquisar</button>
            </form><br>
            
            
            
            
            <form id="formEnvio" action="/disciplinas/add" method="POST" onsubmit="submitForm(event)">
                <label for="codigo">Código:</label>
                <input type="text" id="codigo" name="codigo" placeholder="Ex: CAC3100" pattern="[A-Z]{3}[0-9]{4}" required><br>
                
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Ex: Integração" required><br>

                <label for="ementa">Ementa:</label>
                <input type="text" id="ementa" name="ementa" placeholder="Ex: Banco de dados" required><br>

                <label for="ha">Hora Aula: </label>
                <input type="text" id="horaAula" name="ha" placeholder="Ex: 72" required><br>

                <label for="prereq">Pre-Requisito: </label>
                <input type="text" id="preRequisito" name="pr" placeholder="Ex: CAC3100 ou <vazio>" pattern="[A-Z]{3}[0-9]{4}"><br>

                <label for="equiv">Equivalencia: </label>
                <input type="text" id="equivalencia" name="eq" placeholder="Ex: CAC3100 ou <vazio>" pattern="[A-Z]{3}[0-9]{4}" ><br>

                <button type="submit">Enviar</button>
            </form>

            <!-- <pre id="jsonOutput"></pre> -->

            <script>
                function submitForm(event)
                {
                    event.preventDefault();
                    const form = document.getElementById("formEnvio");
                    const formData = new FormData(form);

                    const jsonObject = {};
                    formData.forEach((value, key) => {
                        jsonObject[key] = value;
                    });

                    // const jsonOutput = document.getElementById('jsonOutput');
                    // jsonOutput.textContent = JSON.stringify(jsonObject, null, 2);

                    $.ajax({
                        type: 'POST',
                        dataType: "json",
                        contentType:'application/json',
                        url: '/disciplinas/add',
                        data: JSON.stringify(jsonObject),
                    });
                }
                
            </script><br><br>
	    {% block content %}{% endblock %}
        </div>
    </body>
</html>
